<launch>
  <!-- Define model type -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <!-- <arg name="multi_robot_name" default=""/> -->

  <!-- Set the robot description parameter from the URDF file -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find gazebo_demo)/urdf/robot/turtlebot3_waffle.urdf.xacro" />

  <!-- Start Gazebo Simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_demo)/world/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn the TurtleBot3 Model in Gazebo at a Custom Position -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model turtlebot3 -param robot_description "/>
        <!-- -x 2.0 -y -1.5 -z 0.0 -Y 1.57 -->

  <!-- Joint State Publisher -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <param name="rate" value="50"/>
  </node>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" /> 
  
  </node>

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" />
  <!-- args="-d $(find turtlebot3_bringup)/rviz/show_sensor.rviz"/> -->
</launch>
