<launch>
  <!-- Load the robot description parameter -->
  <param name="robot_description" command="$(find xacro)/xacro $(find gazebo_demo)/urdf/gripper/urdf/robotiq_c2_model.urdf"/>
  
  <!-- Launch robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <!-- Launch RViz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen"/>
</launch>



